body {
    font-family:Arial, Helvetica, sans-serif ;
    margin: 0;
    background-color: #4a4a4a;
}
.logoImage {
    height: 100px;
    margin: 10% 20%;
    filter:invert(1%) sepia(1%) saturate(1%) hue-rotate(1deg) brightness(1000%) contrast(80%);
}

a.logoLink:hover {
    cursor: pointer;
}

.firstContainer {
    display: flex;
}

.navigation {
    margin: 1% 8%;
    display: flex;
    flex-direction: column;
    height: 220px;
}

.navigation a {
    text-decoration: none;
    margin: 15% 0%;
    /* margina radi sa display flex na .navigation a ovako ne? */
    color: white;
}

.navigation a:hover {
    color: #f6d44f;
}

div.homeoffice {
    margin: 8% 0% 0% 15%;
    color: white;
    font-size: 15px;
}

.homeoffice p {
    font-weight: 100;
}

.button1, .button2 {
    width: 180px;
    height: 40px;
    border-radius: 17px;
    margin: 7px 0px;
    border: 1.5px solid white;
    font-weight: 600;
    font-size: 15px;
}

.button1 {
    background-color: transparent;
    color: white;
    transition: 0.5s;
}

.button2 {
    background-color: white;
    color: #406fa5;
    transition: 0.5s;
}

.button {
    padding: 20px 0px 0px 110px;
    height: 140px;
    display: flex;
    flex-direction: column;
    margin-left: 3%;
}

.button1:hover {
    color: #406fa5;
    background-color: white;
    cursor: pointer;
}

.button2:hover {
    color: white;
    background-color: transparent;
    cursor: pointer;
}

.iconContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1%;
    margin-left: 4%;
}

.iconContainer i {
    font-size: 28px;
    color: white;
    transition: 2s;
}

.iconContainer i:hover {
    transform: rotate(360deg);
}

div.line {
    margin: 4% 5% 2% 5%;
    border-bottom: 1px solid white;
}

div.information {
    margin: 1% 0% 0% 15%;
    width: 50%;
}

div.information a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    float: left;
    margin:10px 15px;
    font-size: 15px;
    
}

.information a:hover {
    color: #f6d44f;
}

div.copyright {
    display: inline-block;
}

.ononase {
    display: flex;
}

.copyright {
    padding: 105px 0px;
    color: white;
    font-weight: 300;
    margin: 0% 1w2px 0% 5%;
}

.language {
    display: flex;
    justify-content: flex-end;
    margin-right: 5%;
    color: white;
}

.en {
    padding: 0px 2%;
    border-right: 2px solid white;
    text-decoration: underline;
    color: #e5cc63;
}

.franc {
    padding: 0px 2%;
}

.en:hover, .franc:hover {
    cursor: pointer;
}

.franc {
    transition: 1s;
}

.franc:hover {
    color: #f6d44f;
    text-decoration: underline;
}

div.disclaimer {
    color:white;
    margin: 5% 5% 7% 16%;
    font-weight: 350;
    font-size: 13px;
}